.env
.venv
__pycache__
.pytest_cache
.next
node_modules
out
user_data
app_data
tmp
debug
.fastembed_cache
.codex

generated_models
nltk
chroma
container.db
.next-build
.cursor
app_dist
resources/fastapi
resources/nextjs
dist
eng.traineddata
servers/fastapi/build/
servers/fastapi/dist/
servers/fastapi/fastembed_cache/
electron/.cache/
electron/.cache/export-runtime/
*.pkg
*.toc
*.zip
*.pyc